<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <title>{% block title %}Default TITLE block{% endblock title %}</title>
{% endblock head %}
</head>

<body>
{% block body %}
<div class="container">

{% block nav %}
<H3>Default NAV block</H3>
{% endblock nav %}

{% block content %}
<H1>Default CONTENT block</H1>
{% endblock content %}

{% block footer %}
<footer style="background-color: #444; color: #fff">Default FOOTER block</footer>
{% endblock footer %}

</div>
{% endblock body %}
</body>
</html>