
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Coin</th>
            <th scope="col">TF 1d</th>
            <th scope="col">TF 4h</th>
            <th scope="col">TF 1h</th>
            <th scope="col">TF 15m</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">USDT</th>
            <td>{{ idxusdt.d1 }}</td>
            <td>{{ idxusdt.h4 }}</td>
            <td>{{ idxusdt.h1 }}</td>
            <td>{{ idxusdt.m15 }}</td>
        </tr>

        <tr class="table-primary">
            <th scope="row">Primary</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr class="table-secondary">
            <th scope="row">Secondary</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr class="table-light">
            <th scope="row">Light</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr class="table-dark">
            <th scope="row">Dark</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        </tbody>
    </table>
</div>