{% load static %}

<!-- Backend Bundle JavaScript -->
<script src="{% static 'trade/assets/js/libs.min.js' %}"></script>
<!-- widgetchart JavaScript -->
<script src="{% static 'trade/assets/js/charts/widgetcharts.js' %}"></script>
<!-- fslightbox JavaScript -->
<script src="{% static 'trade/assets/js/fslightbox.js' %}"></script>
<!-- app JavaScript -->
<script src="{% static 'trade/assets/js/app.js' %}"></script>
<!-- apexchart JavaScript -->
<script src="{% static 'trade/assets/js/charts/apexcharts.js' %}"></script>